<ion-header>
    <ion-navbar [ngStyle]="{'background': navigatorBackColor?navigatorBackColor:'#fff'}">
        <ion-title>我的退换货</ion-title>
    </ion-navbar>
    <ion-toolbar>
    <nav>
      <div class="flex flex-align-center nav-2-bar viporder" id="nav-2-bar">
          <div class="flex-1" *ngFor="let item of orderList;let i=index" [ngClass]="currentIndex==i?'active': ''" (tap)="getexchange(i)">
            <a>{{item}}</a>
          </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="getRefresh($event)" pullMax='250'>
        <ion-refresher-content style="font-size:12px;" pullingIcon="ios-arrow-dropdown-outline" pullingText="上拉刷新..." refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
    </ion-refresher>
    <div class="m-orderList" *ngFor="let item of prolist" >
        <div class="m-orderItem first" >
            <div class="row-1" >
            <span class="orderId">订单编号: {{item.ordersProduct.ordersSn}}</span>
            <span></span>
            <!-- <div class="f-fr btn-cancel" tap="">
            取消订单
            </div> -->
            </div>
            <div class="packageList">
                <div class="row-2 flex" >
                    <div class="goodImg f-fl flex-1">
                        <div class="wraper" >
                        <!-- <img [src]="imageUrl+item.ordersProduct.imaage+config.imageFormat" width="100%" height="100%"  /> -->
                        </div>
                    </div>
                    <div class="goodInfo f-fl flex-2" >
                        <div class="goodName">{{item.ordersProduct.productName}}</div>
                        <div class="goodNum" >{{item.ordersProduct.specInfo}}}</div>
                    </div>
                    <div class="goodStatus f-fr flex-1">
                        <!-- <div>￥{{item.ordersProduct.moneyPrice}}</div> -->
                        <div class="packageStatus">x{{item.ordersProduct.number}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="noorder" *ngIf="prolist && prolist.length==0">
        <div class="img"></div>
        <div class="txt">还没有任何订单呢</div>
    </div>
</ion-content>
