<ion-header [ngStyle]="{'background': navigatorBackColor?navigatorBackColor:'#fff'}">
  <ion-navbar>
    <ion-title>地址选择</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  style="background:#f4f4f4;">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax='250'>
      <ion-refresher-content style="font-size:12px;" pullingIcon="ios-arrow-dropdown-outline" pullingText="上拉刷新..." refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <div class="m-address-list">
    <div class="m-defaultPage m-defaultPage-noAddress" *ngIf="showpAddresslist.length==0">
      <div class="container">
        <div class="img"></div>
        <div class="txt">您还没有收货地址哦</div>
      </div>
    </div>
    <div class="con addcon">
        <!-- <div class="u-icon u-address-bg" ></div> -->
        <ion-item *ngFor="let item of showpAddresslist;let i = index" [ngClass]="{'op':item.state==1}" (tap)="setaddress(item)">
          <ion-label class="flex">
            <div class="left flex-1" >
              <p class="uname" style="line-height: 35px;">{{item.memberName}}</p>
              <!-- <span class="default" *ngIf="item.">默认</span> -->
            </div>
            <div class="middle flex-3">
              <div class="md-con" >
                <p class="uip" >{{item.mobile}}</p>
                <p class="uinfo" >{{item.addAll+item.addressInfo}}</p>
              </div>
            </div>
          </ion-label>
          <ion-checkbox color="danger"  checked="{{item.state==1?true:false}}" ></ion-checkbox>
        </ion-item>
  </div>
</div>
</ion-content>
<ion-footer [navPush]="'AddAddressPage'" >
  <ion-toolbar class="m-address-list">
      <button class="w-bottomBlockBtn w-button w-button-xxl w-button-block w-button-noRadius" > ＋ 新建地址</button>
  </ion-toolbar>
</ion-footer>
