.ion-ios-close:before{
  font-size:30px;
}
.pos_right{    position: absolute;
  right: 5px;
  top: 8px;
  padding: 0 10px;
}
  .servicecon{
    padding-top:50px;
    .m-commonIssues .item .qu span {
      font-size: 15px;
    }
    .m-commonIssues .item .an {
      color: #787878;
      line-height: 15px;
      padding-left: .21333rem;
      font-size: 13px;
  }
  .m-commonIssues .item .qu .u-detail-redNum{
    top:9px;
    width: 5px;
    height: 5px;
    }
}
