page-article-detail {
  p{font-size: 15px;}
  .createTime {
    font-size: 12px;
    color: #9c9696;
    line-height: 30px;
  }
  img{margin:5px 0;}
  .tc{text-align: center;    margin-bottom: 20px;font-size:20px;color:#c5c3c3;
    p{font-size: 12px;    line-height: 5px;}
    .red{color:#b62628}
  }
}
